<div class="container banner">
  <h2>Ideas for a better world</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua.
  </p>
  <a class="btn btn-primary" routerLink="/idea/new">
    Share your idea
  </a>
</div>

<div class="container">

  <div class="ideas-section">

    <h3>Explore Ideas</h3>

    <form [formGroup]="searchForm" class="search-form">

      <div>
        <div class="input-group mr-2">
          <div class="input-group-prepend">
            <span class="input-group-text"><fa-icon [icon]="searchIcon"></fa-icon></span>
          </div>
          <input formControlName="searchTerm" class="search-field form-control mr-2" placeholder="Search ideas...">
        </div>
      </div>

      <div>
        <select formControlName="goal" class="form-control">
          <option [ngValue]="''">All sustainable development goals</option>
          <!-- TODO Populate the rest of the <option> elements with the loaded goals  -->
        </select>
      </div>

    </form>

    <div class="ideas-list">
      <ng-container *ngIf="!searching; else isSearching">
        <ng-container *ngIf="!searchingError; else isSearchingError">
          <div *ngIf="!ideas?.length" class="text-muted">(no ideas found)</div>

          <div class="idea" *ngFor="let idea of ideas" [routerLink]="['/idea', idea.id]">
            <div class="thumbnail">
              <img [src]="idea.thumbnailUrl" alt="">
            </div>
            <div>
              <h4>{{idea.title}}</h4>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>

</div>

<ng-template #isSearching>
  <div class="loading">
    <fa-icon [icon]="spinnerIcon" [spin]="true"></fa-icon>
  </div>
</ng-template>

<ng-template #isSearchingError>
  <div class="text-danger">
    Sorry, something went wrong loading these results
  </div>
</ng-template>
