@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import "../../../../scss/variables";

:host {
  display: block;
  padding-bottom: 60px;

  @include media-breakpoint-up(md) {
    padding-bottom: 70px;
  }
}

.preserve-spacing {
  white-space: pre-line;
}

h2 {
  margin-top: 32px;
}

.back-container {
  margin: 24px 0;

  a {
    color: $azure;
  }
}

.img-wrapper {
  margin: 0 -15px;

  @include media-breakpoint-up(md) {
    margin: 0;

    img {
      border-radius: 8px;
    }
  }
}
