<div class="container">

  <div class="back-container d-none d-md-block">
    <a class="back" routerLink="/">
      Back to ideas
    </a>
  </div>

  <div class="img-wrapper">
    <img class="img-fluid" alt=""
         [src]="idea?.thumbnailUrl">
  </div>

  <div class="back-container d-md-none">
    <a class="back" routerLink="/">
      Back to ideas
    </a>
  </div>

  <h2>{{idea?.title}}</h2>

  <p class="preserve-spacing">{{idea?.description}}</p>
</div>
