a.back {
  &::before {
    content: '';
    border: 2px solid currentColor;
    border-right: 0;
    border-top: 0;
    width: 12px;
    height: 12px;
    display: inline-block;
    transform: rotate(45deg);
    box-sizing: border-box;
    margin-right: 8px;
  }
}
